//add option error
.add-option-error {
    color: $off-white;
    font-style: italic;
    margin: $m-size 0 0 0;
    padding: 0 $m-size;
}

//add option
.add-option {
    display: flex; //use flex box
    flex-direction: column; //flex box 
    padding: $m-size;
}

//add option input
.add-option__input {
    background: $dark-blue;
    border: none;
    color: $off-white; // have an off white color for the input text
    border-bottom: .3rem solid darken($dark-blue,10%); //have a darker blue on the bottom
    flex-grow: 1; //grow by the available space using flexbox
    margin: 0 0 $s-size 0; //this is done for mobile devices
  
    padding: $s-size; //this gives the inputted value some spacing
}

//css feature @media
//this is used to target larger screen; not mobile devices
@media (min-width: $desktop-breakpoint) {
   .add-option {
       flex-direction: row; //used with flexbox
   }

   .add-option__input {
        margin-right: 0 $s-size 0 0; //set a spacing between the input and the button
   }
}