.header {
    color: white;
    background: $off-black;
    margin-bottom: $xl-size;     //space between header and the component below it
    padding: $m-size 0; //putting 1.6 rem top and bot and 0rem left and right
}

//naming convention to structure the styles; not native to scss 
//naming convetion name: BEM (block element modifier)
.header__title {
    font-size: $l-size;
    margin: 0;
}

.header__subtitle{
    color: $off-white; 
    font-size: $m-size;
    font-weight: 500; //thickness of the font
}